<h2><%= @project.name %></h2>
        <%= form_for @task do |f| %>
        <%= f.hidden_field :project_id, value: @project.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.label :notes %>: <%= f.text_field :notes %>
        <%= f.submit "Add Task" %>
    <% end %>

    <% if @project.tasks.size > 0 %>
    <table class="table">
        <tr>
            <th>Task</th>
        </tr>
        <% @project.tasks.each do |task| %>
        <tr>
        <td><%= task.notes %></td>
        <td><% if !task.completed %><%= link_to "Mark Complete", 'tasks/#{:id}/completed' %></td>
        <% end %>
        <% end %>
        <% end %>
        </table>
<br><br><br>


<%= link_to "Edit Project", edit_project_path(@project) %> | <%= link_to "Delete Project", project_path(@project), method: :delete %>

