<!DOCTYPE html>
<html>
  <head>
    <title>Taskit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Taskit</h1>
      <nav>
        <% if signed_in? %>
        <%= link_to "My Page", user_path(current_user)%> |
        <%= link_to "Team", team_path(current_team) %> |
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% else %>
        <p>Get to Work! | </p>
        <%= link_to "Sign up on a New Team", new_team_path %> |
        <%= link_to "Join an Existing Team", new_user_registration_path %> |
        <%= link_to "Sign In", new_user_session_path %>
        <% end %>
       </nav>
      </header>

     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
