<!DOCTYPE html>
<html>
  <head>
    <title>Taskit - Project Management Tool</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="/"><h1>Taskit</h1></a>
      <nav>
        <% if signed_in? %>
        <%= link_to "My Page", user_path(current_user)%> |
        <%= link_to "My Team", team_path(current_team) %> |
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% else %>
        <p>Get Started!  | </p>
        <%= link_to "Sign up on a New Team", new_team_path %> |
        <%= link_to "Join an Existing Team", new_user_registration_path %> |
        <%= link_to "Sign In", new_user_session_path %> |
        <%= link_to 'Sign in with Twitter', '/auth/twitter/' %>

        <% end %>
       </nav>
      </header>

      <main>

     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
    <%= yield %>
    </main>
    <footer>
      Taskit | by James Randolph
    </footer>
  </body>
</html>
